body {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}
.navbar-brand {
    margin-left: 100px;
    font-size: 32px;
    color: #5f687b;
}
.navbar-nav {
    padding-left: 150px;
}
.nav-item {
    padding-left: 8px;
}
.nav-log {
    margin-left: 220px;
}
.nav-link:hover {
    color: #16DF7E;
}
.container {
    margin-top: 100px;
}
h5{
    text-align: center;
}
.bracket-title {
    width: 100%;
}
img {
    border-radius: 2px;
}
.col th td {
    width: 100px;
    padding: 50px;
    margin: 50px;
}
@media (max-width: 1080.98px) { 
    .nav-log {
        margin-left: 0px;
    }
    img {
        margin-top: 30px;
    }
    .col {
        text-align: center;
    }

}

