body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
.header {
    display: flex;
    background-color: #00b297;
    list-style: none;
    justify-content: space-between;
    margin-top: 0;
    padding: 15px;
}
.head-link{
    color: white;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 150px;
}
.login{
    color: white;
    text-decoration: none;
    margin-right: 250px;
}

/* <!--navbar & header--> */

.navbar{
    margin-top: -16px;
    background-color: white;
}
.collapse{
    justify-content: center;
}
.nav-item{
    margin-left: 30px;
}

.au{
    background-color: white;
    margin-top: 20px;
    padding-top: 20px;
}

/* dasboard */

.dash{
    padding-left: 20px;
    margin-top: 50px;
    font-size: 40px;
    text-transform: uppercase;
}
.col{
    margin-top: 50px;
    padding: 0 30px;
}
.card{
    border-radius: 10px;
    border-left: 0.5rem blue solid;
    padding: 10px 0;
    box-shadow: 10px 5px 5px gainsboro;
}
.card-title{
    color: blue;
    text-transform: uppercase;
    font-size: 15px;
}